{% extends 'Layout.html' %}

{% block content %}
<div class="content">
	<div class="container">
		<div class="content-top">
                <div style="width:100%; border-bottom:1px solid #cacbcc">
                        <div style=" text-align:center; color:#fff; font-size:20px; margin-bottom: 5px; background: #0f5731; padding:8px 5px; 
                    border-radius: 5px; width:250px; border-bottom:1px solid #cacbcc">TÌM KIẾM SÁCH: {{chuoi_tra_cuu}} </div>
                        </div>
                        {% set dem=namespace(a=1) %}
                        {% for sach in ds_sach %}
                        {% if dem.a==1 %}
                            <div class="content-top1">
                            {% if dem.a>2 %}
                            <div class="col-md-3 col-md2 animated wow fadeInRight" data-wow-delay=".5s">
                            {% else %}
                            <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                            {% endif %}
                                <div class="col-md1 simpleCart_shelfItem">
                                <a href="{{'/sach/'+(sach.id|string())}}">
                                    <img class="img-responsive" src="{{url_for('static', filename='image/'+sach.hinh)}}" alt="{{sach.ten_sach}}" />
                                </a>
                                <h2 style="font-size:medium;"><a href="{{'/sach/'+(sach.id|string())}}">{{sach.ten_sach}}</a></h2>
                                <div class="price">
                                    <h5 class="item_price">{{"{:,}".format(sach.don_gia).replace(",",".")}}đ</h5>
                                    <!-- <form method="POST" id="frmThemGioHang">
                                        <button class="btn btn-primary" type="submit" name="{{sach.id}}" id="btnThem">Add To Cart</button>
                                        </form> -->
                                    <div class="clearfix"> </div>
                                </div>
                                </div>
                            </div>
                            {% set dem.a = dem.a+1 %}
                        {% else %}
                            {% if dem.a>2 %}
                            <div class="col-md-3 col-md2 animated wow fadeInRight" data-wow-delay=".5s">
                            {% else %}
                            <div class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s">
                            {% endif %}
                                <div class="col-md1 simpleCart_shelfItem">
                                <a href="{{'/sach/'+(sach.id|string())}}">
                                    <img class="img-responsive" src="{{url_for('static', filename='image/'+sach.hinh)}}" alt="sach.ten_sach" />
                                </a>
                                <h2 style="font-size:medium"><a href="{{'/sach/'+(sach.id|string())}}">{{sach.ten_sach}}</a></h2>
                                <div class="price">
                                    <h5 class="item_price">{{"{:,}".format(sach.don_gia).replace(",",".")}}đ</h5>
                                    <!-- <form method="POST" id="frmThemGioHang">
                                        <button class="btn btn-primary" type="submit" name="{{sach.id}}" id="btnThem">Add To Cart</button>
                                        </form> -->
                                    <div class="clearfix"> </div>
                                </div>
                                </div>
                            </div>
                            {% set dem.a = dem.a+1 %}
                            {% if dem.a > 4 %}
                                </div>
                                <div class="clearfix"> </div>
                                {% set dem.a = 1 %}
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% if dem.a < 4 %}
                            </div>
                            <div class="clearfix"> </div>
                          {% endif %}
        </div>
    </div>
</div>
{% endblock %}