{% extends "Layout.html" %}

{% block banner %}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Thông tin mua hàng</li>
        </ol>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" id="content">
        {% if htmlThongTinGioHang!="" %}
        {{htmlThongTinGioHang}}
        {% else %}
        <h3 style="text-align:center">THÔNG TIN KHÁCH HÀNG</h3>
        {% for field in form %}
        {% for message in field.errors %}
        <div class="btn TOM_TAT" style="color:red"> {{ message }}</div>
        {% endfor %}
        {% endfor %}
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="ten_khach_hang">Tên khách hàng</label>
                {{form.ten_khach_hang( class="form-control" ,placeholder="tên khách hàng")}}
            </div>
            <div class="form-line">
                <label for="phai" style="margin-right: 50px">Phái</label>
                {{form.phai}}
            </div>
            <div class="form-group">
                <label for="ngay_sinh">Ngày sinh</label>
                {{form.ngay_sinh( class="form-control" ,type="date", placeholder="ngày sinh")}}
            </div>
            <div class="form-group">
                <label for="dia_chi">Địa chỉ</label>
                {{form.dia_chi( class="form-control" , placeholder="địa chỉ")}}
            </div>
            <div class="form-group">
                <label for="dien_thoai">Điện thoại</label>
                {{form.dien_thoai( class="form-control" , placeholder="điện thoại")}}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {{form.email( class="form-control" , placeholder="email")}}
            </div>
            <div class="form-group">
                <label for="ghi_chu">Ghi chú</label>
                {{form.ghi_chu( class="form-control" , placeholder="ghi chú")}}
            </div>
            <input type="submit" class="btn btn-warning" name="btnThem" value="Thêm thông tin">
        </form>
        {% endif %}
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}