{% extends "Layout.html" %}

{% block banner %}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Thông tin giỏ hàng</li>
        </ol>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row" style="padding-left:5px; padding-right: 5px;">
    <div class="col-lg-12" id="content">
        {{Thong_tin_gio_hang}}
    </div>
</div>
{% endblock %}
