{% extends "Layout.html" %}

{% block banner %}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Tin tức</li>
        </ol>
    </div>
</div>
{% endblock%}
<!-- {% block callaction %}


{% endblock %} -->
{% block content %}
    <!-- <div class="col-lg-12" id="content">
        {{Thong_tin_gio_hang}}
    </div>
-->
<style>
.headerTinTuc{
    font-size: 50px;
    color: red;
    text-align: center;
    margin: 0 auto;
}

.loaitintuc{
    font-size:23px;
    color:blue;
    margin-left: 10px;
}

.tieudetin{
    font-size: 30px;
    margin-left: 10;
}

.noidungtomtat{
    font-size: 20px;
    color:black;
    margin-left: 50px;
}

.tintuc_tieude {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 10px 10px 0px;
    margin: 30px;

   background-color:antiquewhite;
    font-weight: bold;
}

.tintuc_tieude img {
    width: auto;
    height: auto;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-lg-12" id="content">
            <h1 class="headerTinTuc">Các tin tức</h1>
        </div>
    </div>
    {% for tintuc in dsTinTuc %}
    {% if tintuc.trangthai != none %}
    <div class="tintuc_tieude row">
        <div class="col-lg-6">
            <a href="/tin_tuc/{{tintuc.id}}" class="tieudetin"><img class="img-responsive" src="{{url_for('static',filename='image/'+tintuc.hinh_dai_dien)}}" alt="" srcset=""></a>
        </div>
        <div class="col-lg-6">
            <a href="/tin_tuc/{{tintuc.id}}" class="tieudetin"><h1>{{tintuc.tieu_de_tin}}</h1></a>
            <p class="loaitintuc">Nội dung tóm tắt :</p>
            <p class="noidungtomtat">{{tintuc.noi_dung_tom_tat}}</p>
        </div>
    </div>
    
    {% endif %}
    {% endfor %}

</div>




{% endblock %}

{% block scripts %}

{% endblock %}