{% extends "Layout.html" %}

{% block banner%}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">{{sach.ten_sach}}</li>
        </ol>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="single" style="border-bottom: 1px solid #cacbcc; padding-bottom: 30px">

    <div class="container">
        <div class="col">
            <div class="col-md-4 gird">
                    <img class="img-responsive" src="{{url_for('static', filename='image/'+sach.hinh)}}" alt="{{sach.ten_sach}}" />
            </div>
            <div class="col-md-8 single-top-in" style="border-bottom: 4px solid #cacbcc; padding-bottom: 30px; 
            margin-bottom: 30px;">
                    <div class="single-para simpleCart_shelfItem">
                        <h2 class="chi-tiet-khung-ten-sach" style="font-family:'Times New Roman', Times, serif;">
                            <p style="color: sienna; font-weight: bold;">{{sach.ten_sach}}</p>
                        </h2>
                        <div class="col">
                            <div class="col-md-6">
                                <ul>
                                    <li class="chi-tiet-sach">Tác giả: {{sach.tac_gia.ten_tac_gia}}</li>
                                    <li class="chi-tiet-sach">Nhà xuất bản: {{sach.nha_xuat_ban.ten_nha_xuat_ban}}</li>
                                    {% if sach.so_trang != none %}
                                    <li class="chi-tiet-sach">Số trang: {{sach.so_trang}}</li>
                                    {% endif %}
                                    {% if sach.kich_thuoc != none %}
                                    <li class="chi-tiet-sach">Kích thước: {{sach.kich_thuoc}}</li>
                                    {% endif %}
                                    <li class="chi-tiet-sach">Ngày xuất bản: {{sach.ngay_xuat_ban}}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <p class="item_price" style="font-size: 14px;">giá bìa: <span class="chi-tiet-gia-bia">{{"{:,}".format(sach.gia_bia).replace(",",".")}}đ</span></p>
                                <p style="color:#fff; font-size:20px; margin-bottom: 5px; background: #0f5731; padding:8px 5px; 
                                border-radius: 5px;">giá bán: <span>{{"{:,}".format(sach.don_gia).replace(",",".")}}đ</span></p>
                                <form class="navbar-form navbar-left" style="padding-left: 0px; width:100%;" method="POST" id="frmThemGioHang">  
                                    <div style="display: block;">Số lượng:</div>
                                    <div class="form-group">
                                        <input type="hidden" name="Th_Id_sach" value="{{sach.id}}">
                                        <input type="number" class="form-control" style="width: 70px; text-align: center; 
                                            float:left; margin-right:5px; color:red;" min="1" name="txtSoLuong" id="txtSoLuong" value="1">
                                        <input type="submit" class="btn btn-default" style="background-color: #0f5731; 
                                            color:#fff;" value="Thêm vào giỏ hàng" name="{{sach.id}}" id="btnThem">
                                    </div>
                                </form>
                                <!-- begin- Mẫu giỏ hàng -->
                                <!-- <form class="form-inline" method="POST" id="frmThemGioHang">
                                    <div class="form-group">
                                        <label for="exampleInputName2">So luong</label>
                                        <input type="number" class="form-control" name="txtSoLuong" id="txtSoLuong" value="1">
                                    </div>
                                    <input type="submit" class="btn btn-theme" value="Them vao gio hang" id="btnThem" name="{{sach.id}}">
                                </form> -->
                                <!-- end -->
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container">
        <article>
            <h1 style="text-align: center">GIỚI THIỆU SÁCH</h1>
            <div style="font-family: Arial, Helvetica, sans-serif">
                {{sach.gioi_thieu|safe}}
            </div>
        </article>
    </div>
</div>
<div class="container">

        <div style="color:#fff; font-size:20px; margin-bottom: 5px; background: #0f5731; padding:8px 5px; 
  border-radius: 5px; width:250px">SÁCH CÙNG LOẠI </div>



<div class="single" style="border-bottom: 1px solid #cacbcc; padding-bottom: 30px;">
    {% include'Sach/DS_sach_cung_loai.html' %}
</div>
<div style="color:#fff; font-size:20px; margin-bottom: 5px; background: #0f5731; padding:8px 5px; 
  border-radius: 5px; width:250px">SÁCH CÙNG TÁC GIẢ </div>
<div class="single">
    {% include'Sach/DS_sach_cung_tac_gia.html' %}
</div>
</div>
{% endblock %}
